# See https://help.github.com/ignore-files/ for more about ignoring files.
# See https://help.github.com/ignore-files/ for more about ignoring files.


# build
/**/build

# temp
*.swp

# misc
.DS_Store

.idea
*.iml


# #build files
/**/target/
/**/dist/

.settings/
.classpath
.factorypath